django
python-dotenv
celery
redis
channels
channels-redis
django-admin-interface
django-colorfield
django-import-export
django-extensions
allauth_ui
django-allauth
django-crispy-forms
django-apscheduler
django-user-agents
requests
PyJWT
cryptography
whitenoise
