.fb-feedback-page {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  }
  
  .fb-feedback-page select,
  .fb-feedback-page textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    background-color: #f0f2f5;
    font-size: 15px;
    transition: all 0.2s;
  }
  
  .fb-feedback-page select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  
  .fb-feedback-page textarea {
    min-height: 150px;
    resize: vertical;
  }
  
  .fb-feedback-page select:focus,
  .fb-feedback-page textarea:focus {
    border-color: #1877f2;
    box-shadow: 0 0 0 2px #e7f3ff;
    outline: none;
    background-color: #fff;
  }
  
  .fb-file-upload input[type="file"] {
    display: none;
  }
  
  .fb-feedback-page input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border: 1px solid #dddfe2;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    position: relative;
  }
  
  .fb-feedback-page input[type="checkbox"]:checked {
    background-color: #1877f2;
    border-color: #1877f2;
  }
  
  .fb-feedback-page input[type="checkbox"]:checked::after {
    content: '\f00c';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    color: white;
    font-size: 12px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }