.comments-section::-webkit-scrollbar {
  width: 6px;
}

.comments-section::-webkit-scrollbar-thumb {
  background-color: #009688;
  border-radius: 10px;
}

.comments-section::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}

.post-image-container img {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.card {
  border-radius: 12px;
  background-color: #212121;
}

.btn-outline-info {
  border-color: #009688;
  color: #009688;
}

.btn-outline-info:hover {
  background-color: #009688;
  color: #fff;
}

.btn-outline-light {
  border-color: #ffffff;
  color: #ffffff;
}

.btn-outline-light:hover {
  background-color: #ffffff;
  color: #000;
}

.btn-outline-danger {
  border-color: #dc3545;
  color: #dc3545;
}

.btn-outline-danger:hover {
  background-color: #dc3545;
  color: #fff;
}

body {
  background-color: #1d2124;
  color: #f5f5f5;
}

a {
  color: #009688;
  text-decoration: none;
}

a:hover {
  color: #00695c;
}

.mb-4 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 1.5rem;
}

.gap-3 {
  gap: 1rem;
}

.btn:hover {
  transform: translateY(-2px);
  transition: 0.3s ease;
}

.text-info:hover {
  color: #004d40;
}
