
.notification-link {
    font-weight: 600;
    color: #2c3e50;
    transition: color 0.3s ease;
}

.notification-link:hover {
    color: #3498db;
    text-decoration: underline;
}


ul.list-group-item .badge {
    font-size: 0.875rem;
    padding: 0.5rem 0.8rem;
    border-radius: 20px;
}


ul.list-group-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}


ul.list-group-item img {
    border: 2px solid #ffffff;
    border-radius: 50%;
}


ul.list-group-item .flex {
    display: flex;
    align-items: center;
}

ul.list-group-item .space-x-4 > * {
    margin-right: 1rem;
}

@media screen and (max-width: 768px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
}
