{% extends "landing/base.html" %}

{% block content %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'social/css/notification/notif.css' %}">
{% endblock extra_css %}

<div class="container mt-8 px-4">
    <h2 class="text-3xl font-semibold text-white mb-6">Your Notifications</h2>
    <ul class="list-group space-y-4">
        {% for notification in notifications %}
        <li class="list-group-item bg-gray-800 text-white rounded-lg p-4 flex justify-between items-center shadow-md hover:shadow-xl transition-shadow duration-300">
            <div class="flex items-start space-x-4">
            
{% if notification.sender.profile.picture %}
<img src="{{ notification.sender.profile.picture.url }}" 
     alt="{{ notification.sender.username }}'s profile" 
     class="w-12 h-12 rounded-full object-cover">
{% else %}
<img src="{% static 'uploads/profile_pictures/default_profile.png' %}" 
     alt="Default Profile Picture" 
     class="w-12 h-12 rounded-full object-cover">
{% endif %}

 <!-- Notification -->
 <div class="flex flex-col">
    <a href="{{ notification.link }}" class="notification-link text-lg font-medium hover:text-blue-500 transition-colors duration-300">
        <strong>{{ notification.message }}</strong>
    </a>
    <small class="text-sm text-gray-400 mt-1">Received on: {{ notification.timestamp|date:"Y-m-d H:i" }}</small>
</div>
</div>

<div class="flex items-center space-x-3">
<!-- Displaying notification type icons (needs icons for each item.) -->
{% if notification.notification_type == 'comment' %}
    <span class="text-gray-400"></span>
{% elif notification.notification_type == 'like' %}
    <span class="text-gray-400"></span> 
{% elif notification.notification_type == 'reply' %}
    <span class="text-gray-400"></span>
{% endif %}

<!-- New Notification Badge -->
{% if not notification.read %}
    <span class="badge bg-red-600 text-white text-xs px-3 py-1 rounded-full">New</span>
{% endif %}
</div>
</li>
{% endfor %}
</ul>
</div>

{% endblock %}
